<% obj.each do |article| %>

<div class="row">

  <div class="col-sm-12">

    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><%= link_to article.title, article_path(article) %></h4>
        <%= image_tag url_for(article.image), class: "card-image" %>
        <p class="card-text"><%= truncate(article.text, length: 100) %></p>
        <p class="card-text">
          Created by: <%= article.user.username if article.user%>,

          <%= time_ago_in_words(article.created_at) %> ago,

          last updated: <%= time_ago_in_words(article.updated_at) %> ago
        </p>
        <% if logged_in? && (current_user == article.user || current_user.admin?) %>
        <% if article.categories.any? %>

        <p class="card-category">Categories: <%= render article.categories %></p>

        <% end %>
        <p><%= article.votes.count %> <%= (article.votes.count) == 1 ? 'Like' : 'Likes'%></p>
        <% pre_like = article.votes.find { |like| like.user_id == current_user.id} %>
        <% if pre_like %>
        <%= button_to 'Unlike', article_vote_path(article, pre_like), method: :delete %>
        <% else %>
        <%= button_to 'Like', article_votes_path(article), method: :post %>
        <% end %>
        <%= link_to "Edit this article", edit_article_path(article), class: "card-link" %>

        <%= link_to "Delete this article", article_path(article), method: :delete,

            data: { confirm: "Are you sure you want to delete the article?"},

             class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>