<%= form_with(model: user, local: true) do |form| %>
<%= render 'shared/errors', obj: user%>

<div class="field">
  <%= form.label :username %>
  <%= form.text_field :username %>
</div>

<div class="field">
  <%= form.label :email %>
  <%= form.text_field :email %>
</div>

<div class="field">
  <%= form.label :password %>
  <%= form.text_field :password %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>